@keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 250px;
    height: 100px;
    display: inline-block;
    opacity: 0; /* Initially hidden */
    transform: translateY(20px); /* Start position */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.card .card-image {
    width: 75px;
    height: 75px;
    border-radius: 30%;
    margin-bottom: 10px;
}

.card .card-title {
    margin: 0;
    color: hsl(0, 0%, 20%);
}

.card .card-text {
    font-family: Arial, sans-serif;
    color: hsl(0, 0%, 30%);
}

.card.visible {
    opacity: 1;
    transform: translateY(0);
}
